<style>
    .smart-grid {
        width: 100%;
        height: 71%;
    }
</style>

<body>
    <div> Pruebas de Grid</div>
    <smart-grid id="grid"></smart-grid>
</body>

</html>
<!-- scripts -->

<script type="module" src="../../javascripts/smart/smart.grid.js"></script>
<script type="module">
    var i = 0;

    var cabecera = [
        {
            label: "Descripcion",
            dataField: "Descripcion",
            dataType: "string",
            allowEdit: true,
            width: 538,
        },
        {
            label: "Total Pruebas",
            dataField: "Tot",
            dataType: "number",
            cellsFormat: "n2",

        },
        {
            label: "Ene",
            dataField: "Ene",
            align: "right",
            dataType: "number",
            cellsFormat: "n2",

        },
        {
            label: "Feb",
            dataField: "Feb",
            align: "right",
            dataType: "number",
            cellsFormat: "n2",

        },
        {
            label: "Mar",
            dataField: "Mar",
            align: "right",
            dataType: "number",
            cellsFormat: "n2",

        },
        {
            label: "Abr",
            dataField: "Abr",
            align: "right",
            dataType: "number",
            cellsFormat: "n2",

        },
        {
            label: "May",
            dataField: "May",
            align: "right",
            dataType: "number",
            cellsFormat: "n2",

        },
        {
            label: "Jun",
            dataField: "Jun",
            align: "right",
            dataType: "number",
            cellsFormat: "n2",

        },
        {
            label: "Jul",
            dataField: "Jul",
            align: "right",
            dataType: "number",
            cellsFormat: "n2",

        },
        {
            label: "Ago",
            dataField: "Ago",
            align: "right",
            dataType: "number",
            cellsFormat: "n2",

        },
        {
            label: "Sep",
            dataField: "Sep",
            align: "right",
            dataType: "number",
            cellsFormat: "n2",

        },
        {
            label: "Oct",
            dataField: "Oct",
            align: "right",
            dataType: "number",
            cellsFormat: "n2",

        },
        {
            label: "Nov",
            dataField: "Nov",
            align: "right",
            dataType: "number",
            cellsFormat: "n2",

        },
        {
            label: "Dic",
            dataField: "Dic",
            align: "right",
            dataType: "number",
            cellsFormat: "n2",

        },
    ];
    var filas = [
        "Pk: number",
        "1: string",
        "2: string",
        "3: string",
        "4: string",
        "Descripcion: string",
        "Tot: number",
        "Ene: number",
        "Feb: number",
        "Mar: number",
        "Abr: number",
        "May: number",
        "Jun: number",
        "Jul: number",
        "Ago: number",
        "Sep: number",
        "Oct: number",
        "Nov: number",
        "Dic: number",
        "Idx: number",
        "Response: number",
        "Nivel: number",
        "Clave: string",
        "Indice: string",
    ];



    window.Smart(
        "#grid",
        class {
            get properties() {
                return {
                    sorting: {
                        enabled: true,
                    },
                    checkBoxes: {
                        visible: true,
                        hasThreeStates: false,
                    },
                    editing: {
                        batch: false,
                        enabled: true,
                        action: "doubleClick",
                        mode: "cell",
                        commandColumn: {
                            visible: true,
                            dataSource: {
                                commandColumnEdit: {
                                    visible: false,
                                },
                                commandColumnDelete: {
                                    visible: false,
                                },
                                commandColumnMenu: {
                                    visible: false,
                                },
                                commandColumnRowMenu: {
                                    visible: true,
                                },
                            },
                        },
                    },
                    selection: {
                        enabled: true,
                        mode: "one",
                        allowCellSelection: false,
                    },
                    behavior: { columnResizeMode: "growAndShrink" },
                    layout: {
                        allowCellsWrap: true,
                    },
                    appearance: {
                        allowRowDetailToggleAnimation: false,
                        autoShowColumnFilterButton: false,
                        alternationCount: 2,
                    },
                    header: {
                        visible: true,
                        buttons: ["search"],
                    },

                    columns: cabecera,
                    dataSource: new window.Smart.DataAdapter({
                        dataSource:
                            "http://localhost:3000/objetivos/leoobjetivos/?uno=379&dos=VP",
                        dataSourceType: "json",
                        keyDataField: "Idx",
                        parentDataField: "Response",
                        id: "Idx",
                        dataFields: filas,
                    }),
                    onCellUpdate: function (cell, oldValue, newValue, confirm) {
                        confirm(true);
                    },
                    //     onRowUpdate: function (
                    //         index,
                    //         row,
                    //         oldValues,
                    //         newValues,
                    //         confirm
                    //     ) {
                    //         console.log(oldValues, newValues);
                    //         confirm(true);
                    //     },
                }
            }
        }
    );
 // grid.addEventListener('change', function (event) {
 //      const detail = event.detail,
 //          started = detail.started,
 //          finished = detail.finished,
 //          originalEvent = detail.originalEvent;
 //      //event.preventDefault();
 //      var filaid = "";
 //      var filas = grid.getSelectedRows();
 //      if (filas.length > 0) {
 //          filaid = filas[0][0];

 //          console.log(grid.rows[filaid]);
 //      } else {
 //          grid.selectRows([1]);
 //          filas = grid.getSelectedRows();
 //          console.log(filas[0]);

 //      }

  //  })
</script>