<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<%- include('../partials/header.ejs') %>
<style>
    a {
        padding-top: 5px;
        font-weight: 400;
        color:#23506e; 
        text-decoration: none;
        background-color: transparent;
      }

</style>

<body class="viewport" >
    <div id="settingsPanel">
        <br>
        <img  src="../../../images/Logo_Baculo_Anagrama_Ok_BSales.png" alt="Logo Baculo" srcset="">
            <main >           
                <div class="row">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" class = "titulo" href="#collapseOne"><span class=" glyphicon-folder-close">
                                        </span>Configuracion</a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-file text-info"></span><a href="/empresas/empresaslistado">Empresas</a>
                                                </td>
                                            </tr>
                                           
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-flash text-success"></span><a href="/objetivos/demos"> Demos</a>
                                                </td>
                                            </tr>
                                           
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                                    <span class="badge">42</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                                        </span>Objetivos</a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                   <a href="/objetivos/confichero"> <span> <i class="fas fa-upload"></i> </span>Carga de Datos </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="/objetivos/listalayouts"> <span> <i class="fas fa-cogs"> </i> </span> Definir Objetivos</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="/objetivos/analisislay"> <span><i class="fas fa-chart-bar"></i></span> Análisis </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="http://www.jquery2dotnet.com">Tex</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                                        </span>Account</a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <a href="http://www.jquery2dotnet.com">Change Password</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                                        Delete Account</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                                        </span>Reports</a>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </main>
    </div>
    <div id="">
        <%- body %>
    </div>
</body>
</html>
